.container-principal {
  /* O gradiente de fundo */
  background: linear-gradient(-45deg, #ffff00, #adff2f, #ffffff, #adff2f);
  
  /* O tamanho do fundo precisa ser maior que 100% para a animação funcionar */
  background-size: 400% 400%;
  
  /* Aplica a animação que definiremos abaixo */
  animation: gradient-movement 12s ease infinite;
}

/* Define os passos da animação */
@keyframes gradient-movement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}